@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #feac5e, #c779d0, #4bc0c8);
  text-align: center;
}

h1 {
    font-family: 'Bungee Outline';
    color: cornsilk;
}

h2 {
    font-family: 'Bungee Shade';
    font-size: 100px;
    color: cornsilk;
}

h3 {
    font-family: 'Bungee Hairline';
    color: cornsilk;
}

p {
    font-family: Bungee;
    color: cyan;
    font-size: 22px;
}

.low-usage {
  color: #038f96;
}

.medium-usage {
  color: cornsilk;
}

.high-usage {
  color: #960384;
}
